
#header div{
    background-image: url("../Media/audience.jpg");
}
main{
    width: 100%;
}
#contacto{
    width: 100%;
}
    .container-contacto{
        width: 100%;
        width: 60em;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .input-contacto{
        color: black;
    }
    input{
        border-bottom: 1px solid black;
        color: black;
    }
    label{
        margin-left: 15px;
    }
    textarea{
        color: black;
    }
    input::placeholder{
        color: black;
    }
    button{
        border: 2px solid black;
        color:black;
    }

